.home>header .outer-wrapper {
    min-height: 350px;
}

header.global .user>.primary:last-child>a {
    padding: 8px 10px;
}

.highlighted-courses .courses .course, .find-courses .courses .course {

    border: 1px solid #d1d5d3;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.add-to-cart {
    text-transform: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
    text-transform: none;
}

header.global .nav-global li a, header.global .nav-global div a {
    color: #ffffff;
}

header.global.slim h2 {
    color: #ffffff;
    text-shadow: 0 1px 0 #1755a5;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: #ffffff;
}

.wrapper-footer footer#footer-openedx a {
    color: #ef7f1a;
}

.dashboard .my-courses .course .details .enter-course, .verification-process .report-receipt-provider .provider-buttons-logos .complete-order button {
    background-color: #ef7f1a;
    color: #ffffff;
}
.course-info .container nav a, .course-info section.outside-app nav a, .course-info .wrapper-account-settings nav a, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy nav a, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy nav a, .course-info .view-profile .wrapper-profile-sections nav a, .view-profile .course-info .wrapper-profile-sections nav a {
        text-transform: none;
    }

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
        text-transform: none;
    }

.home>header .media {
        border: 1px solid #ffffff;
        float: right;
        width: 175px;
        margin-top: -20px;
    }
    .home>header .title {
        padding: 10px 15px 0px 20px;
        margin-top: -10px;
    }
